<layout
  *ngIf="object$ | async as object; else loading"
  [titleDetails]="object.title || object.name"
  [titleSuffix]="object.episode_id ? 'Episode ' + object.episode_id : null"
  [titlePrefix]="titlePrefix"
>
  <div class="object-details">
    <div class="row mb-5">
      <div class="col-lg-6 col-md-12">
        <div class="description mr-lg-5 mb-3">
          <div class="title">Details:</div>
            <p *ngFor="let obj of object | keyvalue">
              <ng-container *ngIf="objectService.isValid(obj) && !objectService.isArray(obj.value)">
                <span>{{ objectService.printKey(obj.key) | titlecase }}:</span>
                {{ obj.value | titlecase }}
              </ng-container>
            </p>

            <p *ngIf="object.opening_crawl" class="mt-4">
              {{ object.opening_crawl }}
            </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <img-slider [urls]="['assets/images/'+ titlePrefix +'/' + (object.name || object.title) + '.jpg']"></img-slider>
      </div>
    </div>

    <!-- <div class="mb-4">
      <preview-urls
        *ngIf="object.homeworld"
        [links]="[object.arrayDetails.homeworld]"
        [target]="'homeworld'"
      ></preview-urls>
    </div> -->

    <div class="mb-4" *ngFor="let obj of object.arrayDetails | keyvalue">
      <preview-urls
        [links]="obj.value.links"
        [target]="obj.value.target"
      ></preview-urls>
    </div>
  </div>

</layout>


<ng-template #loading>
  <loading></loading>
</ng-template>
