<div class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="img-preview">

          <img src="assets/images/starships/13.jpg" alt="" />
        </div>
      </li>
      <li class="splide__slide">
        <div class="img-preview">

        <img src="assets/images/starships/12.jpg" alt="" />
        </div>
      </li>
      <li class="splide__slide">
        <div class="img-preview">
          <img src="assets/images/starships/10.jpg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</div>
