<div class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" *ngFor="let url of urls" >
        <div class="img-preview">
          <img [src]="url" alt="" />
        </div>

      </li>
      <li class="splide__slide" *ngFor="let url of urls" >
        <div class="img-preview">
          <img src='assets/images/films/The Phantom Menace.jpg' alt="" />
        </div>

      </li>
      <li class="splide__slide" *ngFor="let url of urls" >
        <div class="img-preview">
          <img src='assets/images/films/Attack of the Clones.jpg' alt="" />
        </div>

      </li>
    </ul>
  </div>
</div>
