<div class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="img-preview">

          <img src="assets/images/sample_wide.png" alt="" />
        </div>
      </li>
      <li class="splide__slide">
        <div class="img-preview">

        <img src="assets/images/sample_wide.png" alt="" />
        </div>
      </li>
      <li class="splide__slide">
        <div class="img-preview">
          <img src="assets/images/sample_wide.png" alt="" />
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="img-preview" *ngFor="let url of urls; let i = index">
  <img [hidden]="i != currentActive" [src]="url" alt="image" />
</div>
<div *ngFor="let url of urls; let i = index">
  xxxxxxxxxxxx
</div> -->
