@import "src/variables.scss";

.object-card {
  min-height: 100%;
  background-color: $soft-gray;
  .img-container {
    min-height: 321px;

    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .text-contaner {
    padding: 26px 16px;
    h2 {
      font-weight: 700;
      margin-bottom: 16px;
    }

    .text-details {
      margin-bottom: 20px;
      p {
        font-size: 14px;
        line-height: 17px;
      }
    }
    a {
      color: $dark-blue;
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
    }
  }
}
