<div class="object-card">
  <div class="img-container">
    <img [src]="'assets/images/'+target+'/'+(index+1)+'.jpg'" alt="" />
  </div>
  <div class="text-contaner">
    <h2>{{ object.title || object.name }}</h2>
    <div class="text-details">
      <p *ngFor="let obj of object | keyvalue | slice: 0:10">
        <ng-container
          *ngIf="objectService.isValid(obj) && !objectService.isArray(obj)"
        >
          {{ objectService.printKey(obj.key) | titlecase }}:
          {{ obj.value | titlecase }}
        </ng-container>
      </p>
    </div>
      <a routerLink="/details" [queryParams]="{ url: object.url }">More infos....</a>
  </div>
</div>
